#hero-banner{
	background-color: powderblue;
	padding-top: 80px;
	padding-bottom: 0;
	height: 100vh;
}
#nav-image-me{
	width: 50px;
}
#hero-banner-div-mountain{
	z-index:-1;
}
#mountain{
	position: absolute;
	bottom: 0;
	transform: translate(-50%, 0);

}
#hero-banner-div-content{
	width: 100%;
	position: absolute;
	display: inline-block;
	z-index: 99;
	transform: translate(-50%, 0);
}
.horizontal-line{
	border-style: dotted none none none;
	border-color: gray;
	border-width: 10px;
	width: 80px;
}
iframe{
	border: none;
	box-shadow: 0 5px 10px 0;
}
h1{
	font-family: 'Sansita Swashed', cursive;
}
*{
	font-family: 'Merriweather', serif;
	scroll-behavior: smooth;
}
@media only screen and (min-width: 768px){
	#mountain{
	padding-right: 20%;
	padding-left: 20%;
	}
}
@media only screen and (min-width: 1024px){
	#mountain{
	padding-right: 26%;
	padding-left: 26%;
	}
}